@page "/configuracion"

<h3>HACIA DONDE DESEA IR?</h3>
<hr />

<a href="registrar-sangre" class="btn btn-success">Configuracion Sangre </a>

<a href="registrar-provincia" class="btn btn-success">Configuracion Provincia</a>

