@page "/configuracion"

<h3 style="text-align:center;">HACIA DONDE DESEA IR?</h3>
<hr />
<div class="confbuttom">
    <a href="registrar-sangre" class="btn btn-success">Configuracion Sangre </a>
</div>
<br />
<div class="confbuttom">
    <a href="registrar-provincia" class="btn btn-success">Configuracion Provincia</a>
</div>


