@inherits LayoutComponentBase
@using Tarea9._0.Config
@using Tarea9._0.Pages.Configuracion.ConfiguracionBlazorToast

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="05"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
