@page "/editar-robo/{Id:int}"
@inject ProvinciaDAO DAO
@inject NavigationManager Navigator
@inject Tarea9._0.Services.IToastService toastService

<h3 style="text-align:center;">EDITAR REGISTRO DE PROVINCIAS</h3>
<hr />

@if (!string.IsNullOrEmpty(error))
{
    <text>@error</text>
}
<ProvinciaForm TextoBoton="Guardar" OnValidSubmit="@GuardarRegistro" OProvincia="@OProvincia" />

@code {
    [Parameter]
    public int Id { get; set; }
    ProvinciaModel OProvincia = new ProvinciaModel();
    string error = string.Empty;


    protected async override Task OnParametersSetAsync()
    {
        OProvincia = await DAO.GetProvinciaDetails(Id);
    }
    protected async Task GuardarRegistro()
    {
        try
        {
            await DAO.SaveProvincia(OProvincia);
            toastService.ShowSuccess("Registro Editado con exito!");
            Navigator.NavigateTo("/registrar-provincia");
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
            error = ex.Message;
        }
    }
}
